body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #70AD47;
}

#mainFont{
    padding-top:100px;
    font-size:75px;
    /* color: #70AD47; */
}

#loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: #70AD47; */
    font-size: 30px;
}

.insertBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#idBox{
    margin-left:32px;
    width:250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #70AD47;
}

#pwBox{
    width:250px;
    height: 50px;
    margin-left:25px;
    margin-right:20px;
    border-radius: 10px;
    border: 1px solid #70AD47;
}

#linkBox{
    margin-top: 50px;
}


.linkFont{
    text-align: center;
    text-decoration: none; 
    color: inherit;
    margin-left:15px;
    margin-right:15px;
    font-size: 17px;
}
#button{
    width:150px;
    height: 55px;
    background-color: #70AD47;
    border-radius: 15px;
    color:#FFFFFF;
    font-size: 20px;
    border-color: #70AD47;
    margin-top: 30px;
}
#middleLinkFont{
    text-align: center;
    text-decoration: none; 
    color: inherit;
    /* margin-left:7.5px;
    margin-right:7.5px; */
    padding-left:15.5px;
    padding-right:15.5px;
    border-right: 1px solid #70AD47;
    border-left: 1px solid #70AD47;
    font-size: 17px;
}

@media screen and (min-width: 1200px) {
    /* 여기에 PC 버전의 스타일을 정의합니다. */

  }
  
  /* 태블릿 버전 */
  /* 480px 이상 ~ 1200px 미만일 때 적용 */
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    /* 여기에 태블릿 버전의 스타일을 정의합니다. */
    #mainFont{
        padding-top:50px;
        font-size:60px;
    }
   
    
  }
  
  /* 모바일 버전 */
  /* 320px 이상 ~ 480px 미만일 때 적용 */
  @media screen and (max-width: 479px) {
    /* 여기에 모바일 버전의 스타일을 정의합니다. */
        
    #mainFont{
        padding-top:50px;
        font-size:30px;
    }
    .insertBox{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size:15px;
    }
    #idBox{
        margin-left:16px;
        width:125px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #70AD47;
    }
    #pwBox{
        width:125px;
        height: 25px;
        margin-left:12.5px;
        margin-right:10px;
        border-radius: 5px;
        border: 1px solid #70AD47;
    }
    #button{
        width:100px;
        height: 40px;
        background-color: #70AD47;
        border-radius: 7.5px;
        color:#FFFFFF;
        font-size: 15px;
        border-color: #70AD47;
        margin-top: 15px;
    }
    .linkFont{
        text-align: center;
        text-decoration: none; 
        color: inherit;
        margin-left:7.5px;
        margin-right:7.5px;
        font-size: 14px;
    }
    #middleLinkFont{
        text-align: center;
        text-decoration: none; 
        color: inherit;
        /* margin-left:7.5px;
        margin-right:7.5px; */
        padding-left:7.5px;
        padding-right:7.5px;
        border-right: 1px solid #70AD47;
        border-left: 1px solid #70AD47;
        font-size: 14px;
    }
  }
  